.nav-link{
    color: white;
}
.form-control:focus{
    outline: dashed 1px #f898a8 ;
   box-shadow: none;
}

.navbar-nav{
    position: relative;
    left: 250px;
}
.active{
   color: rgb(56, 56, 56);
}

@media  (orientation: portrait) and (max-width:1023px) {
    .navbar-nav{
        position: relative;
        left: 0;
    }
}
