.nav-link{
    color: #383838;
}
.form-control:focus{
    outline: dashed 1px #e20328;
   box-shadow: none;
}

.navbar-nav{
    position: relative;
    left: 250px;
}
.active{
   color: #e20328 ;
}

@media  (orientation: portrait) and (max-width:1023px) {
    .navbar-nav{
        position: relative;
        left: 0;
    }
}
